[user]
        name = Pierre Viseu Chevalier
        email = pierrechevalier83@gmail.com
[core]
        editor = nvim
[alias]
        logo = log --oneline --graph --decorate
        loga = log --oneline --graph --decorate --all
[rebase]
        autosquash = true
[pull]
        rebase = true
[init]
        defaultBranch = main
