/* Colors (Nord) */

/* polar night */
@define-color nord0 #2E3440;
@define-color nord1 #3B4252;
@define-color nord2 #434C5E;
@define-color nord3 #4C566A;
/* snow storm */
@define-color nord4 #D8DEE9;
@define-color nord5 #E5E9F0;
@define-color nord6 #ECEFF4;
/* frost */
@define-color nord7 #8FBCBB;
@define-color nord8 #88C0D0;
@define-color nord9 #81A1C1;
@define-color nord10 #5E81AC;
/* aurora */
@define-color nord11 #BF616A;
@define-color nord12 #D08770;
@define-color nord13 #EBCB8B;
@define-color nord14 #A3BE8C;
@define-color nord15 #B48EAD;

* {
    border-radius: 3px;
    font-family: "Hack Nerd Font", Roboto, Helvetica, Arial, sans-serif;
    font-size: 12px;
    min-height: 0;
}

window#waybar {
    background-color: @nord1;
    border-bottom: 0px solid @nord0;
    color: @nord6;
    transition-property: background-color;
    transition-duration: .2s;
    opacity: 1.0;
}

window#waybar.hidden {
    opacity: 0.8;
}

window#waybar.empty {
    opacity: 0.9;
    border-bottom: transparent;
}

#workspaces button {
    padding: 0 10px;
	margin: 0 1px;
    background: @nord2;
    color: @nord6;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: @nord3;
    border-bottom: 1px solid @nord6;
    box-shadow: inherit;
}

#workspaces button.focused {
    background-color: @nord8;
    border-bottom: 1px solid @nord6;
	color: @nord2;
}

#workspaces button.urgent {
    background-color: @nord11;
}

#mode {
    background-color: @nord0;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor {
    padding: 0 10px;
    margin: 0 01px;
    color: #fdf6e3;
}

#clock {
    background-color: @nord15;
	color: @nord0;
}

#battery {
    background-color: @nord13;
	color: @nord0;
}

#battery.charging {
    background-color: @nord14;
	color: @nord0;
}

@keyframes blink {
    to {
        background-color: @nord12;
    }
}

#battery.critical:not(.charging) {
    background-color: @nord11;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #002b36;
}

#temperature {
    background-color: @nord11;
	color: @nord0;
}

#memory {
    background-color: @nord12;
	color: @nord0;
}

#cpu {
    background-color: @nord13;
	color: @nord0;
}

#backlight {
    background-color: #90b1b1;
}

#network {
    background-color: @nord8;
	color: @nord0;
}

#network.disconnected {
    background-color: @nord4;
	color: @nord0;
}

#pulseaudio {
    background-color: @nord14;
	color: @nord0;
}

#pulseaudio.muted {
    background-color: @nord4;
	color: @nord0;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature.critical {
    background-color: #dc322f;
}

#tray {
    background-color: #2980b9;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}
